<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.gms.samples.vision.barcodereader"
    android:installLocation="auto" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="Quiz Time!"
        android:supportsRtl = "true"
        android:theme="@style/Theme.Design.Light">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".Authentication.StartWithLogoActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Authentication.SignInActivity"
            android:label="Sign in activity"/>

        <activity android:name=".Barcode.BarcodeCaptureActivity"
            android:label="Scan QR to access the quiz"/>

        <activity android:name=".QuizActivity"
            android:label="Read decoded QR"/>

        <activity android:name=".OldActivities.GenerateQRActivity"
            android:label="Generate QR code"/>

        <activity android:name=".OldActivities.StudentAccountActivity"
            android:label="After you logged in as a student"/>

        <activity android:name=".OldActivities.ProfessorAccountActivity"
            android:label="After you logged in as a professor"/>

        <activity android:name=".Authentication.SignUpStudentActivity"
            android:label="Create student account"/>

        <activity android:name=".Authentication.SignUpProfessorActivity"
            android:label="Create professor account"/>

        <activity android:name=".OldActivities.AddQuestionActivity"
            android:label="Add new questions"/>

        <activity android:name=".OldActivities.SeeQuestionsActivity"
            android:label="Get all the questions from Firebase"/>

        <activity android:name=".OldActivities.SeeStudentsActivity"
            android:label="Get all the students from Firebase"/>

        <activity android:name=".OldActivities.HistoryActivity"
            android:label="The student's history"/>

        <activity android:name=".OldActivities.SeeAQActivity"
            android:label="See the information about an answered question"/>

        <activity android:name=".OldActivities.AddSubjectActivity"
            android:label="Add new subject to professor"/>

        <activity android:name=".StudentPackage.StudentProfileActivity"
            android:label="Profile for student"/>

        <activity android:name=".ProfessorPackage.ProfessorProfileActivity"
            android:label="Profile for professor"/>

        <activity android:name=".OldActivities.SeeTestsActivity"
            android:label="See all the tests"/>

        <activity android:name=".DecodeQRActivity"
            android:label="The activity after the scan"/>

        <activity android:name=".ProfessorPackage.ProfessorMenuActivity"
            android:label="Navig bar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".StudentPackage.StudentMenuActivity"
            android:label="Navig bar"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>